html,
ol,
ul,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.mobile__container {
  z-index: 80;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background: #ECF1F4;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 22px;
}
.mobile__container .logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 95px;
  height: 72px;
  margin-bottom: 10px;
}
.mobile__container .logo img {
  width: 95px;
  height: 72px;
}
.mobile__container .contacts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}
.mobile__container .contacts p {
  font-size: 7px;
  line-height: 9px;
}
.mobile__container .contacts h3 {
  font-size: 14px;
  line-height: 17px;
}
.mobile__container .contacts a {
  font-size: 10px;
  line-height: 12px;
}

.hamburger-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hamburger-button span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  display: inline-block;
  width: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2px;
  margin-right: 0px;
  background-color: black;
}

.hamburger-button_active::after, .hamburger-button_active::before, .hamburger-button::after, .hamburger-button::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 2px;
  background-color: black;
}

.hamburger-button::before {
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-button::after {
  margin-top: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-button_active {
  position: relative;
}
.hamburger-button_active::before {
  position: relative;
  margin: 0;
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-button_active::after {
  position: relative;
  top: -5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger-button_active span {
  display: none;
}

.wrapper {
  max-width: 82.81vw;
  margin: 0 auto;
}

.bg__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 56.25vw;
  z-index: -10;
}

nav {
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
  padding-top: 2.23vw;
  padding-bottom: 1.93vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .home-icon {
  margin-right: 5.46vw;
}
nav .home-icon img {
  width: 1.3vw;
  height: 1.25vw;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
nav li {
  list-style-type: none;
}

.nav__element a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.73vw;
  line-height: 140%;
  text-decoration: none;
  color: #1C1C1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__element a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #F38120;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__element a:hover {
  color: #F38120;
}
.nav__element a:hover::after {
  width: 100%;
}

.header__second-section {
  margin-bottom: 2.71vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-section__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 11vw;
}
.second-section__text p {
  font-weight: 400;
  font-size: 0.63vw;
  line-height: 0.73vw;
  text-align: center;
}
.second-section__text b {
  font-weight: 600;
}

.catalog-download {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.89vw;
}
.catalog-download a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-style: normal;
  font-weight: 600;
  font-size: 0.63vw;
  line-height: 0.73vw;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1C1C1C;
}
.catalog-download a:hover {
  color: #12C868;
}
.catalog-download a::after {
  height: 3px;
  width: 100%;
  content: "";
  display: block;
  background-image: url(../img/dot.svg);
}

.icon-pdf {
  width: 1.28vw;
  height: 1.28vw;
  padding: 9px 11px;
  background: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
.icon-pdf p {
  font-style: normal;
  font-weight: 600;
  font-size: 0.63vw;
  line-height: 0.78vw;
  text-align: center;
  letter-spacing: 0.04em;
  color: #12C868;
}

.logo {
  width: 14.27vw;
  height: 7.71vw;
}
.logo img {
  width: 100%;
  height: 100%;
}

.messengers {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 9.33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messenger__text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.63vw;
  line-height: 0.73vw;
  text-align: center;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C1C1C;
}
.messenger__text b {
  margin-left: 3px;
  font-weight: 700;
}

.messenger__text::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  background-color: #12C868;
  border-radius: 100px;
  margin-right: 3px;
}

.messengers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.messengers__icons a {
  width: 2.48vw;
  height: 2.48vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.messengers__icons a img {
  width: 50%;
  height: 50%;
}

.messenger__icon_viber {
  background-color: #976FCC;
}

.messenger__icon_whatsapp {
  background: #12C868;
}

.messenger__icon_telegram {
  background: #05A0EB;
}

.contacts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts p {
  font-size: 0.63vw;
  line-height: 0.73vw;
  margin: 6px;
}
.contacts b {
  font-weight: 700;
}
.contacts h3 {
  font-size: 1.24vw;
  margin-top: 0;
  margin-bottom: 10px;
}

.phone {
  text-decoration: none;
  color: #1C1C1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.phone:hover {
  color: #12C868;
}

.contacts__recall-me {
  font-style: normal;
  font-weight: 600;
  font-size: 0.63vw;
  line-height: 0.73px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #1C1C1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contacts__recall-me::after {
  margin-top: 7px;
  height: 3px;
  width: 100%;
  content: "";
  display: block;
  background-image: url(../img/dot.svg);
}

.contacts__recall-me:hover {
  color: #12C868;
}

main .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.7vw;
}

.bullets {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11.72vw;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  z-index: 0;
}
.bullets img {
  width: 100%;
}
.bullets p {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 157%;
  color: #1C1C1C;
}
.bullets b {
  font-weight: 700;
}

.bullet {
  padding-left: 2.03vw;
  padding-right: 2.03vw;
}

.bullet:last-child {
  margin-bottom: 2.14vw;
}

.bullet:first-child {
  margin-top: 2.14vw;
}

.bullets::before {
  content: "";
  width: 100%;
  height: 3vw;
  background-color: white;
  position: absolute;
  top: -0.9vw;
  border-radius: 14px;
  -webkit-transform: rotate(0) skew(0deg, 5deg);
          transform: rotate(0) skew(0deg, 5deg);
  z-index: -1;
}

.text {
  width: 37.92vw;
}
.text h1 {
  width: 30.3vw;
  font-style: normal;
  font-weight: 300;
  font-size: 2.56vw;
  line-height: 155%;
  text-align: left;
  margin-bottom: 0.99vw;
  color: #1C1C1C;
}
.text b {
  font-weight: 700;
}

.with-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.83vw;
}
.with-dots p {
  margin: 0;
  font-size: 1.67vw;
  line-height: 2.03vw;
}
.with-dots img {
  width: 3.02vw;
  height: 0.48vw;
}

.button__submit, .secondary-button, .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 100px;
  padding: 1.46vw 2.46vw;
  height: 5.02vw;
  -webkit-box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.button__submit img, .secondary-button img, .primary-button img {
  width: 1.04vw;
  height: 1.04vw;
}
.button__submit span, .secondary-button span, .primary-button span {
  font-style: normal;
  font-weight: 600;
  font-size: 0.73vw;
  line-height: 157%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.primary-button {
  width: 19.53vw;
  background-color: #12C868;
}

.primary-button:hover {
  background-color: #21E27C;
}

.secondary-button {
  width: 16.93vw;
  background-color: #F38120;
}

.secondary-button:hover, .button__submit:hover {
  background: #FD9C49;
}

.text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.34vw;
}

.text__hint {
  margin-top: 1.97vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.83vw;
}
.text__hint p {
  width: 12.18vw;
  text-align: center;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 157%;
  margin: 0;
  color: #1C1C1C;
}
.text__hint b {
  font-weight: 700;
}

.popup-thanks, .popup-consultation {
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5529411765);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-consultation {
  display: none;
}

.popup-thanks {
  display: none;
}
.popup-thanks .popup__content {
  -webkit-transform: translate(0, -300%);
          transform: translate(0, -300%);
}
.popup-thanks .close__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.popup-thanks p {
  width: 20vw;
}
.popup-thanks .primary-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.popup__content {
  -webkit-transform: translate(0%, 300%);
          transform: translate(0%, 300%);
  padding: 2.34vw 3.49vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 35px;
}

.button__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: transparent;
  position: relative;
  border: none;
}

.show-bullets::before, .show-bullets::after, .button__close::before, .button__close::after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 25px;
  position: absolute;
  top: 40%;
  border-radius: 20px;
  background-color: #A9A9A9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button__close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button__close:hover::after, .button__close:hover::before {
  background-color: #F38120;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.popup__text h2 {
  width: 18.54vw;
  color: #1C1C1C;
  font-weight: 500;
  font-size: 1.56vw;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin: 0;
}
.popup__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 150%;
  color: #000000;
}
.popup__text p.popup__worktime {
  font-size: 0.63vw;
  line-height: 0.85vw;
  opacity: 0.75;
}

.button__submit {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F38120;
  -webkit-box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
}

.button__submit:disabled {
  background-color: lightgray;
  cursor: inherit;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label__telephone {
  margin-top: 1.06vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 13.13vw;
  font-style: normal;
  font-weight: 400;
  font-size: 0.63vw;
  line-height: 0.83vw;
  color: #000000;
  opacity: 0.75;
}

.input__phone {
  padding: 1.46vw 2.46vw;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 500px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 111%;
  letter-spacing: 0.02em;
  margin-bottom: 1.25vw;
  color: #000000;
}

.checkbox-link {
  margin-top: 0.99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.99vw;
}

input[type=checkbox] {
  display: none;
}

.label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  vertical-align: middle;
}

.label:before {
  content: " ";
  display: inline-block;
  margin-right: 5px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 1.24vw;
  height: 1.24vw;
  background: #FFF;
  border: 1px solid #F38120;
  border-radius: 4px;
  -o-border-image: initial;
     border-image: initial;
  vertical-align: middle;
}

input:checked + .label:before {
  content: " ";
  background-position: center;
  background-image: url(../img/ok.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #F38120;
}

.text-link {
  font-style: normal;
  font-weight: 500;
  font-size: 0.63vw;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #1C1C1C;
}
.text-link p {
  margin: 7px 0px;
}
.text-link a {
  color: #F38120;
  text-decoration: none;
}
.text-link a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #F38120;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.text-link a:hover::after {
  width: 100%;
}

.popup__blur {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.first__text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-bullets {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background: #F38120;
  cursor: pointer;
  position: relative;
  border: none;
}

.show-bullets_active:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.show-bullets_active::after {
  -webkit-transform: rotate(225deg) !important;
          transform: rotate(225deg) !important;
}

.show-bullets_active::before {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.show-bullets::after {
  top: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 15px;
  height: 3px;
  background: white;
}

.show-bullets::before {
  top: 15px;
  width: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 3px;
  background: white;
}

.hidden-text {
  display: none;
}

@media screen and (max-width: 992px) {
  .show-bullets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header {
    padding-top: 45px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    background: #ECF1F4;
    width: 100%;
    z-index: 40;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
    height: 100%;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  header nav .home-icon {
    margin: auto;
    width: 23px;
    height: 22px;
    margin-bottom: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header nav .home-icon img {
    width: 23px;
    height: 22px;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav__element {
    margin: 10px 0;
  }
  header .nav__element a {
    font-size: 10px;
  }
  header .header__second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header__second-section .logo {
    display: none;
  }
  header .header__second-section .second-section__text {
    width: 205px;
  }
  header .header__second-section .second-section__text p {
    font-size: 8px;
    line-height: 10px;
  }
  header .header__second-section .catalog-download {
    width: 220px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header__second-section .catalog-download p, header .header__second-section .catalog-download a {
    font-size: 10px;
    line-height: 12px;
  }
  header .header__second-section .catalog-download .icon-pdf {
    width: 43px;
    height: 43px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .header__second-section .messengers {
    width: 160px;
  }
  header .header__second-section .messengers p {
    font-size: 8px;
    line-height: 10px;
  }
  header .header__second-section .messengers a {
    width: 43px;
    height: 43px;
  }
  header .header__second-section .contacts {
    display: none;
  }

  .bg__image {
    height: 100%;
    width: 300%;
  }

  .wrapper {
    max-width: 100%;
  }

  .mobile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main .wrapper {
    width: 320px;
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bullets {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    bottom: 60px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 225px;
  }

  .bullet {
    padding: 0 24px;
  }
  .bullet p {
    width: 140px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
  }
  .bullet img {
    width: 100%;
    height: 25px;
  }

  .bullet {
    height: 0;
    opacity: 0;
  }

  .first {
    heigth: 100%;
    opacity: 1;
  }

  .bullet__text-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bullet__text-button button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .bullets::before {
    content: "";
    width: 100%;
    height: 200px;
    background-color: white;
    position: absolute;
    top: -20px;
    right: -0.5px;
    -webkit-transform: rotate(0) skew(0deg, 5deg);
            transform: rotate(0) skew(0deg, 5deg);
    border-radius: 14px;
    z-index: -1;
  }

  .bullets::after {
    display: none;
  }

  .text {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  .text h1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  .text .with-dots {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text .with-dots img {
    width: 37px;
    height: 6px;
  }
  .text .with-dots p {
    font-size: 13px;
    line-height: 15px;
  }
  .text p {
    font-size: 8px;
    line-height: 10px;
  }
  .text .text__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text .text__buttons .primary-button, .text .text__buttons .secondary-button {
    width: 276px;
    margin-bottom: 10px;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
  }
  .text .text__buttons .primary-button span, .text .text__buttons .secondary-button span {
    width: 150px;
    font-size: 10px;
    line-height: 16px;
  }
  .text .text__buttons .primary-button img, .text .text__buttons .secondary-button img {
    width: 15px;
    height: 15px;
  }
  .text .text__hint {
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .text .text__hint img {
    width: 12px;
  }
  .text .text__hint p {
    text-align: center;
    width: 150px;
  }
  .text .hidden-text {
    display: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    color: #B5B5B5;
  }

  p.hidden-text {
    display: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    color: #B5B5B5;
  }

  .popup__content {
    padding: 20px;
    max-width: 550px;
    width: 100%;
  }
  .popup__content .popup__text {
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .popup__content .popup__text h2 {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
  }
  .popup__content .popup__text p {
    font-size: 14px;
    line-height: 24px;
  }
  .popup__content .popup__text p.popup__worktime {
    font-size: 12px;
    line-height: 14px;
  }
  .popup__content .label__telephone {
    width: 70% !important;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
  }

  .input__phone {
    font-size: 18px;
    line-height: 20px;
    padding: 24px 46px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .button__submit {
    height: 85px;
  }
  .button__submit span {
    font-size: 16px;
    line-height: 18px;
  }
  .button__submit img {
    width: 15px;
    height: 15px;
  }

  .checkbox-link {
    width: 100%;
    gap: 16px;
  }
  .checkbox-link p, .checkbox-link a {
    font-size: 14px;
    line-height: 16px;
  }
  .checkbox-link .label, .checkbox-link .label::before {
    width: 30px;
    height: 30px;
  }

  .popup-thanks h3 {
    margin: 5px;
  }
  .popup-thanks p {
    width: 100%;
  }
  .popup-thanks .primary-button {
    height: 85px;
  }
  .popup-thanks .primary-button span {
    font-size: 14px;
    line-height: 16px;
  }
  .popup-thanks .primary-button img {
    width: 15px;
    height: 15px;
  }
}